.Contribution-header{
    display:flex;
    justify-content: space-between;
}
.Contribution-Panel{
    padding:20px;
}
.Sp-ContributionsUpdatestatus{
    display:flex;
    justify-content: space-between;

}
