

.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.dashboard-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
  flex-shrink: 0;
}

/* MAIN AREA */
.dashboard-main-area {
  display: flex;
  flex-direction: row;
  flex: 1;               /* IMPORTANT */
  overflow: hidden;       /* prevent double-scroll */
}

/* CONTENT THAT HOLDS TABLE */
.dashboard-content {
  flex: 1;
  /* height: 100%;          fixes white gap */
  overflow-y: auto;      /* scroll inside */
  padding: 16px;
  background: #f7f8fa;
}
.dashboard-content.white-bg {
  background: #fff !important; /* Add Data page only */
}
